
:root {
   --base: #ffc600;
}
.container {
    
}


/**************************************************************************/

/* panels */
.panels { 
      height: 100vh;
      margin-bottom: 1rem;
     
}

.panels-content {
      display: flex;  
}
.panel {
      width: 100%;
      height: 100vh;
      flex: 1;
      border: 2px solid rgba(255, 255, 255, .5);
      background-position: center;
      background-size: cover;  
      color: #fff;

      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.panel1 { background-image: url(/imgs/image-9.jpg); }
.panel2 { background-image: url(/imgs/image-7.jpg); }
.panel3 { background-image: url(/imgs/image-8.jpg); }
.panel4 { background-image: url(/imgs/image-4.jpg); }
.panel5 { background-image: url(/imgs/image-10.jpg); }
.panel6 { background-image: url(/imgs/image-12.jpg); }

.panel.open {
      color: pink;
      flex: 5;

}


/************************************************************************/

/* checkbox */
.close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 15px;
      height: 3px;
      /* background: #777; */
      -webkit-appearance: none; 
      cursor: pointer;
}
.close::before, .close::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 15px;
      height: 3px;
      background: #777; 
}
.close::before {
      transform: rotate(-45deg);
}
.close::after {
      transform: rotate(45deg);
}


.checkbox {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--base);
}
.checkbox-content {
      width: 420px;
      height: 450px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 7px 7px 3px rgba(0,0,0,0.2);  
    
      overflow: hidden;   
      padding: 1.5rem 1rem; 

      display: flex;
      flex-direction: column;
      justify-content: center;

      /* flex-wrap: wrap; */

      position: relative;
}
.item {
      padding: .6rem;
      display: flex;
      align-items: center;
      /* flex-wrap: wrap; */ 
}
.checkbox-content > .item:not(:last-child) {
      border-bottom: 1px solid #eee;
}
 .item > input {
       width: 20px;
       height: 20px;
       padding: 1rem;
       display: inline-block;
      font-size: 1rem; 
}
.item input:checked ~ p { 
      text-decoration: line-through;
      color: orangered;

}

.item > p  {
      padding-left: 1rem;
}