body {
      width: 100vw;
      min-height: 100vh;
      background-image: linear-gradient(90deg, cyan, dodgerblue);

      display: flex;
      justify-content: center;
      align-items: center;
     
}
